.header p {
	color: black;
	display: inline;
	margin-top: 10px;
	padding: 5px;
	font-size: 12px;
	letter-spacing: 1px;
}


td {
	line-height: 0.3;
	padding: 0;
	margin-top: 0;
	transform:rotate(-180deg);
}

.header {
	text-align: right;
	margin-right: 23px;
	padding-top: 0px;
	padding-right: 0;
}

.h5 {
	padding-top: 14px;

}

table {
	display: inline;
	margin-bottom: 10px;
}

.central {
	margin-top: 150px;
	text-align: center;
}
.central li, p, ul {
	display: inline;
	font-family: arial;
	font-size: 12px;
	padding: 0;
	margin: 0 3px 0;
	color: black;
}

.text li {
	color: blue;
}

.central div {
	margin: 30px 0px 30px 0px;
}


.sub_bara p {
	color: gray;
	margin: 0px 20px 0px;
	font-size: 14px;
}

.footer div, ul, li {
	display: inline;
	font-family: arial;
	color: gray;
	margin: 0 10px 0;
}

h3 {
	margin-left: 30px;
	color: gray;
	font-family: arial;
	font-weight: 1;
	font-size: 14px;
	margin-top: 380px;
}

.dr li {
	float: right;
}

#sign {
	background: #4987D3;
	color: white;
	font-weight: bold;
	box-sizing: content-box;
	border-radius: 2px;
	margin-left: 15px;
	letter-spacing: 1px;
	padding: 9px 13px;
}
form {
	margin-top: 20px;
	box-sizing: border-box;
	float: none;
}

input {
	border: 0.1px solid #DEDEDF;
	width: 550px;
	height: 40px;
	border-radius: 20px;

}